# Core
streamlit
python-dotenv

# Langchain (versions compatible with Streamlit Cloud & huggingface)
langchain==0.1.16
langchain-community
langchain-huggingface==0.1.2
langchain-openai==0.0.8

# Local embedding + transformers
sentence-transformers==2.2.2
transformers==4.36.2
huggingface-hub==0.23.0
faiss-cpu

# Optional - for GPT story generation
openai

