# Core app
streamlit
python-dotenv

# Langchain ecosystem
langchain==0.2.1
langchain-community
langchain-huggingface==0.1.4
langchain-openai

# Local embeddings
sentence-transformers==2.6.1
transformers==4.39.3
huggingface-hub==0.23.0

# Vector store
faiss-cpu

# OpenAI (for story generation)
openai

